body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 100%;
}

.col-one-third {
  flex-basis: calc(100% / 3);
}

.col-two-thirds {
  flex-basis: calc(100% * (2 / 3));
}

.col-one-fourth {
  flex-basis: calc(100% / 4);
}
