.container {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimmer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal {
  background-color: white;
  height: 200px;
  width: 500px;
  text-align: center;
}

.text {
  font-size: 2.5rem;
  font-family: Courier, monospace;
  font-weight: bold;
  display: flex;
}

.current {
  border-bottom: 3px solid black;
}

.correct {
  color: #18cd1b;
}

.incorrect {
  color: red;
  border-bottom: 3px solid red;
}

.hide {
  display: none;
}
