body {
  font-family: Karla, sans-serif;
  text-align: center;
}

img {
  width: 100%;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 5rem;
}

p {
  line-height: 2rem;
}

button {
  border: 2px solid #d24e47;
  color: #d24e47;
  background-color: white;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 60%;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
  text-align: center;
}

.col-fourth {
  width: 25%;
}

.col-three-fourths {
  width: 75%;
}

.col-half {
  width: 50%;
}

.width-half {
  width: 50%;
}

.ta-left {
  text-align: left;
}

.margin-lr-five-percent {
  margin-left: 10%;
  margin-right: 10%;
}

.padding-right-twenty-percent {
  /* padding-right: 100rem; */
}

#header {
  margin: auto;
  width: 60%;
  margin-bottom: 2.5rem;
}
