a,
p,
h3 {
  font-family: Avenir, sans-serif;
}

span {
  font-family: Avenir, sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Tiempos Headline", serif;
  font-weight: 300;
  color: #6e6e6e;
}

button {
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #294464;
  border: 0;
  border-radius: 0.25rem;
}

.container {
  margin: auto;
  width: 100%;
}

.row {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-fourth {
  width: 25%;
}

.img-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 888.88px;
  margin: auto;
}

.logo {
  height: 2rem;
}

.hero {
  height: 500px;
}

.avenir {
  font-family: Avenir, sans-serif;
}

.fs-1rem {
  font-size: 1rem;
}

.jc-c {
  justify-content: center;
}

.width-7rem {
  width: 7rem;
}

.height-3rem {
  height: 3rem;
}

.txt-al-c {
  text-align: center;
}

.txt-al-r {
  text-align: right;
}

.lheight-1p5rem {
  line-height: 1.5rem;
}

.lheight-2rem {
  line-height: 2rem;
}

.lheight-3rem {
  line-height: 3rem;
}

.t-margin-2p5rem {
  margin-top: 2.5rem;
}

.b-margin-p5rem {
  margin-bottom: 0.5rem;
}

.b-margin-2rem {
  margin-bottom: 2rem;
}

.b-margin-4rem {
  margin-bottom: 4rem;
}

.r-margin-2rem {
  margin-right: 2rem;
}

.r-margin-2p5rem {
  margin-right: 2.5rem;
}

.r-margin-3rem {
  margin-right: 3rem;
}

.tb-padding-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tb-padding-2p5rem {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.tb-padding-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.t-padding-2p5rem {
  padding-top: 2.5rem;
}

.t-padding-4rem {
  padding-top: 4rem;
}

.b-padding-6rem {
  padding-bottom: 6rem;
}

.lr-padding-3rem {
  padding-left: 3rem;
  padding-right: 3rem;
}

.border-b-1px-e7e9ec {
  border-bottom: 1px solid #e7e9ec;
}

.gray-a2 {
  color: #a2a2a2;
}

.gray-6e {
  color: #6e6e6e;
}

.gray-ff {
  color: #fff;
}

.bc-gray-525351 {
  background-color: #535251;
}

.bc-gray-fa {
  background-color: #fafafa;
}

.bc-gray-ff {
  background-color: #fff;
}

.bold {
  font-weight: bold;
}
